body { background: url(http://wenchongjiaokou.info/confectionary2.png) #f5f7fa !important; }.page { max-width: 640px !important; }@media (max-width: 975px) {
    .sidebar { background: url(http://wenchongjiaokou.info/shattered-island.png) #f5f7fa !important; }
  }